<nav
  class="fixed top-0 left-0 right-0 w-full bg-[#F7F7F7] border-b-[2px] border-[#D4AF37] z-50"
  style="min-height: 70px;"
>
  <div class="flex items-center justify-between px-4 sm:px-6 lg:px-[29px] h-full">
    <!-- Logo y línea divisoria -->
    <div class="flex items-center space-x-2 flex-shrink-0">
      <a href="/" class="flex items-center">
        <img
          src="LogoDQNegroNB.png"
          class="h-8 sm:h-10 lg:h-14 w-auto"
          alt="Logo DuqueCubillos"
        />
      </a>
      <!-- Línea divisoria -->
      <div class="hidden lg:block w-[2px] h-12 lg:h-[70px] bg-[#D4AF37] lg:mr-4 " style="margin-right: 10px;"></div>
    </div>

    <!-- Menú de textos (visible solo en pantallas grandes) -->
    <div
      class="hidden lg:flex flex-2 top-[24px] left-[24px] space-x-3 truncate"
      style="max-width: calc(100% - 200px);"
    >
      <ng-container *ngFor="let item of menuItems">
        <div class="group flex items-center space-x-2">
          <!-- Diamante -->
          <span
            class="h-2 w-2 bg-[#1C1C1C] group-hover:bg-[#D4AF37] rotate-45 block"
          ></span>
          <!-- Texto -->
          <a
            href="{{ item.link }}"
            class="text-[#1C1C1C] group-hover:text-[#D4AF37] font-medium truncate text-[clamp(10px,1vw,14px)]"
          >
            {{ item.label }}
          </a>
        </div>
      </ng-container>
    </div>

    <!-- Botones a la derecha -->
    <div class="flex items-center ml-auto space-x-3 h-full">
      <a
        href="https://cubillosduqueasociados.com/"
        class="border border-[#1C1C1C] text-[#1C1C1C] hover:bg-[#1C1C1C] hover:text-[#F7F7F7] focus:ring-[#D4AF37] font-medium rounded-lg text-[clamp(10px,1vw,14px)] px-3 py-2 whitespace-nowrap"
      >
        {{ 'Remates Inmobiliarios' | uppercase }}
      </a>
      <a
        [routerLink]="['/cita']"
        class="bg-[#D4AF37] text-[#1C1C1C] hover:text-[#F7F7F7] hover:bg-[#D4AF37] focus:ring-4 focus:ring-[#D4AF37] font-medium rounded-lg text-[clamp(10px,1vw,14px)] px-3 py-2 whitespace-nowrap"
      >
        {{ 'Agenda Tu Cita' | uppercase }}
      </a>
      <!-- Menú móvil -->
      <button
        id="menu-toggle"
        class="ml-2 lg:hidden p-2 rounded-lg text-gray-700 hover:bg-gray-100 focus:ring-2 focus:ring-gray-300"
        (click)="toggleMenu()"
      >
        <span class="sr-only">Abrir menú móvil</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M4 6h16M4 12h16m-7 6h7"
          />
        </svg>
      </button>
    </div>
  </div>

  <!-- Menú móvil desplegable (visible en pantallas pequeñas) -->
  <div
    *ngIf="isMenuOpen"
    class="lg:hidden mt-2 px-4 bg-[#F7F7F7] border-t border-[#D4AF37] py-4"
  >
    <ul class="flex flex-col space-y-4">
      <ng-container *ngFor="let item of menuItems">
        <li class="group flex items-center space-x-2">
          <span
            class="h-2 w-2 bg-[#1C1C1C] group-hover:bg-[#D4AF37] rotate-45 block"
          ></span>
          <a
            href="{{ item.link }}"
            class="text-[#1C1C1C] group-hover:text-[#D4AF37] text-sm font-medium truncate"
          >
            {{ item.label }}
          </a>
        </li>
      </ng-container>
    </ul>
  </div>
</nav>
