<div class="relative w-full h-[500px] lg:h-[600px] overflow-hidden">
  <!-- Recorrer diapositivas con visibilidad controlada -->
  <div
    *ngFor="let slide of slides; let i = index"
    class="absolute w-full h-full flex items-center justify-center text-center bg-gray-800 text-white transition-opacity duration-700"
    [ngClass]="{ 'opacity-100': i === currentSlide, 'opacity-0': i !== currentSlide }"
  >
    <div>
      <h1 class="text-4xl font-bold">{{ slide.title }}</h1>
      <p class="text-lg mt-2">{{ slide.text }}</p>
    </div>
  </div>

  <!-- Controles
  <button (click)="prevSlide()" class="absolute top-1/2 left-4 transform -translate-y-1/2 bg-black text-white p-2 rounded-full">
    &#10094;
  </button> -->
  <button (click)="nextSlide()" class="absolute top-1/2 right-4 transform -translate-y-1/2 bg-black text-white p-2 rounded-full">
    &#10095;
  </button>
</div>
